@font-face {
  font-family: 'Banfont';
  src: url('NeueHansKendrick-Regular.ttf') format('truetype');
}

body {
  width: 320px;
  max-width: 660px;
  height: 330px;
  background: url(https://banano.cc/assets/bg-faucet.svg);
  font-family: "Banfont";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: repeat;
  background-size: cover;
  color: white;
}

.img--main {
  width: 150px;
  align-self: center;
}

.banano__title-error {
  display: none;
}
.banano__title-error.open {
  font-family: 'Banfont';
  display: block;
  text-align: center;
  width: 200px;
  padding-bottom: 10px;
  color: #FBDD11;
  font-weight: normal;
  margin: 0 auto;
}

/* banano user */
.banano__title {
   font-size: 1rem;
   text-align: center;

}
.banano__user {
  transition: all 400ms;
}
.banano__user.close {
  opacity: 0;
  visibility: hidden;
}

.banano__user.close.none {
  display: none;
}
.

p {
  margin: 5px 0;
  font-family: "Banfont";
}
h2 {
  margin: 10px 0;
  font-family: "Banfont";
}

/* buttons*/

.remove.close {
  display: none;
  height: 0;
}

.remove {
  display: block;
  margin: 0 auto;
  background: none;
}

input {
  border-radius: 16px;
  background: #FBDD11;
  border: 0;
  height: 25px;
  padding: 3px;
}

button {
  height: 20px;
  border-radius: 5px;
  border: 0;
}
