* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Banfont";
  src: url("NeueHansKendrick-Regular.ttf") format("truetype");
}

body {
  width: 800px;
  max-width: 850px;
  height: auto;
  background: url(https://banano.cc/assets/bg-faucet.svg);
  font-family: "Banfont";
  background-repeat: repeat;
  background-size: cover;
  color: white;
  font-size: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

main {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 15px 0;
}

section.banano__info {
  display: flex;
}

.img--main {
  width: 150px;
  align-self: center;
}

.banano__title-error {
  display: none;
}
.banano__title-error.open {
  font-family: "Banfont";
  display: block;
  text-align: center;
  width: 400px;
  padding-bottom: 10px;
  color: #fbdd11;
  font-weight: normal;
  margin: 0 auto;
}

/* banano user */
.banano__title {
  font-size: 1rem;
  text-align: center;
}
.banano__user {
  transition: all 400ms;
}
.banano__user.close {
  opacity: 0;
  visibility: hidden;
}

.banano__user.close.none {
  display: none;
}

p,
h2 {
  margin: 5px 0;
  font-family: "Banfont";
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
}

h2 {
  font-weight: bold;
  color: black;
  padding-right: 10px;
  width: 150px;
}

h1 {
  margin: 10px 0;
  font-family: "Banfont";
  font-size: 26px;
}

h3 {
  margin: 5px 0;
  font-family: "Banfont";
  font-size: 18px;
  color: #fbdd11;
}

/* buttons*/

.banano__input-section {
  align-self: center;
  text-align: center;
}

.remove.close {
  display: none;
  height: 0;
}

.remove {
  display: block;
  margin: 0 auto;
  background: none;
}

input {
  border-radius: 15px;
  background: white;
  border: 0;
  height: 25px;
  padding: 3px;
  width: 100px;
}

button.get__banano {
  height: 26px;
  border-radius: 15px;
  padding: 5px;
  background-color: #008cba;
  color: white;
}

button {
  border: 0;
}
