* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Banfont";
  src: url("./fonts/NeueHansKendrick-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BanAddress";
  src: url("./fonts/OverpassMono-Regular.ttf") format("truetype");
}

body {
  width: 800px;
  max-width: 850px;
  height: auto;
  background: url(https://banano.cc/assets/bg-faucet.svg);
  font-family: "Banfont";
  background-repeat: repeat;
  background-size: cover;
  color: white;
  font-size: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 30px 0;
}

section.banano__info {
  display: flex;
}
.banano__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.banano__menu a {
  text-decoration: none;
}
.banano__menu .banano__top {
  padding-bottom: 5px;
  margin-right: 25px;
  border-bottom: solid 2px white;
}
.banano__menu p {
  margin-left: 25px;
}
.img--main {
  width: 150px;
  align-self: center;
}

.banano__title-error {
  display: none;
}
.banano__title-error.open {
  display: block;
  text-align: center;
  width: 400px;
  padding-bottom: 10px;
  color: #fbdd11;
  font-weight: normal;
  margin: 0 auto;
}

/* banano user */
.banano__title {
  font-size: 1rem;
  text-align: center;
}
.banano__user {
  position: relative;
  transition: all 400ms;
  margin-top: 4px;
}
.banano__user.close {
  opacity: 0;
  visibility: hidden;
}

.banano__user.close.none {
  display: none;
}

p,
h2 {
  margin: 5px 0;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
}
h2 {
  font-weight: bold;
  color: black;
  padding-right: 10px;
  width: 150px;
}

h1 {
  margin: 10px 0;
  font-size: 26px;
}

h3 {
  margin: 5px 0;
  font-size: 18px;
  color: #fbdd11;
}

.banano__info--address {
  font-family: "BanAddress";
  font-size: 14px;
}

.banano__info--status::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: greenyellow;
  align-self: center;
  margin-right: 8px;
  margin-top: 1px;
}

/* buttons*/

section.banano__input-section {
  align-self: center;
  text-align: center;
}

.remove.close {
  display: none;
  height: 0;
}

.remove {
  display: block;
  margin: 0 auto;
  background: none;
}

input.banano__input {
  background: white;
  border: 0;
  height: 25px;
  padding: 3px;
  width: 100px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.banano__suspended {
  position: absolute;
  background: rgba(204, 201, 35, 0.8);
  height: 88%;
  display: flex;
  align-items: center;
  margin-top: 1px;
  border-radius: 15px;
  border: 2px solid red;
}

.banano__suspended p {
  align-items: initial;
  background: rgb(78, 212, 78);
  height: 19px;
}

button.get__banano {
  height: 26px;
  padding: 5px;
  background-color: #008cba;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.banano__input-section--wrapper {
  display: flex;
  justify-content: center;
}

button {
  border: 0;
}

/* monkey user */
.monkey__user {
  position: absolute;
  display: none;
  width: 420px;
  top: -120;
  right: -100;
  transition: 400ms opacity ease-in;
}

.monkey__user.open {
  display: block;
  opacity: 1;
}
